<div>
  <%= image_tag "portrait.jpg", alt: "Le Wagon", width: 200 %>
</div>
<div>
  <h1>its meeee Mario</h1>
  <p>Picanha hamburger chicken, burgdoggen sirloin doner kielbasa prosciutto shank chuck tail ground round chislic bacon. Frankfurter jowl spare ribs corned beef tongue drumstick shoulder cow meatball. Chislic sausage tri-tip leberkas, turkey flank boudin turducken tongue shank short ribs ribeye short loin frankfurter. Pig meatball brisket chislic beef ribs.</p>
</div>



<%= link_to  'See all post', posts_path  %>
