<h1>Lets Begin</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :title, placeholder: 'The Greatest Story Ever' %>
  <%= f.input :body, placeholder: 'Once upon a time ...' %>
  <%= f.button :submit %>
<% end %>
